@model Application.Models.CustomerModel
@{
    ViewBag.Title = "Mantenimiento de Usuarios";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>





<section id="RegistroCustomer">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<table>
        <colgroup>
            <col style="width:40%" />
            <col style="width:5%" />
            <col style="width:55%" />
        </colgroup>
        <tr>
            <td>
                    <fieldset>
                    <legend></legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.Nombre)
                            @Html.TextBoxFor(m => m.Nombre)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Correo)
                            @Html.TextBoxFor(m => m.Correo)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.NombreUsuario)
                            @Html.TextBoxFor(m => m.NombreUsuario)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Telefono)
                            @Html.TextBoxFor(m => m.Telefono)
                        </li>
                    </ol>
                    <input type="submit" value="Agregar Nuevo" />
                </fieldset>
            </td>
            <td>
            </td>
        </tr>
    </table>    
}
</section>

